/glances-1.6.tar.gz
/v1.6.1.tar.gz
/v1.7.tar.gz
/v1.7.1.tar.gz
/v1.7.2.tar.gz
/v1.7.3.tar.gz
/v1.7.4.tar.gz
/v1.7.5.tar.gz
/v1.7.6.tar.gz
/v1.7.7.tar.gz
/v2.1.2.tar.gz
/v2.2.1.tar.gz
/glances_no_root_needed.patch
/v2.3.tar.gz
/v2.5.1.tar.gz
/v2.6.1.tar.gz
/v2.7.1.tar.gz
/v2.11.1.tar.gz
